<a href="https://colab.research.google.com/github/LucyKinyua/Week3_MS/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2021_05_Lucy_Kinyua_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview

In this week's independent project, you will be working as Data Scientist for MTN Cote d'Ivoire, a leading telecom company and you will be solving for the following research question.

Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast. Studying the given dataset, how does MTN Cote d'Ivoire go about the upgrade of its infrastructure strategy within the given cities?

Your final deliverable will be a Data Report which will comprise the following sections;

1. Business Understanding 
2. Data Understanding 
3. Data Preparation 
4. Analysis 
5. Recommendation 
6. Evaluation

You can use the CRISP-DM methodology to guide you while working on the Data Report. Your Data Report will also need to have an objective account, with insights majorly coming from the dataset. However, you can refer to external information for supporting information.

Below are some questions that can get you started;

1. Which ones were the most used city for the three days?
2. Which cities were the most used during business and home hours?
3. Most used city for the three days?
4. etc.

The telecom data provided for this project is only a sample ( i.e. for only three days).  The data files that you will need for this project will be as follows:

1. cells_geo_description.xlsx [Link]
2. cells_geo.csv [Link]
3. CDR_description.xlsx [Link]
4. CDR 20120507 [http://bit.ly/TelecomDataset1]
5. CDR 20120508 [http://bit.ly/TelecomDataset2]
6. CDR 20120509 [http://bit.ly/TelecomDataset3]

You will use Python for your analysis.

# Importing the Python libraries to be used and loading the datasets

In [1]:
# Let's import the pandas library as well as the NumPy library
# 
import pandas as pd
import numpy as np

In [2]:
# Creating a Dataframe from the cells_geo.csv file 
# 
cells_geo_df = pd.read_csv('cells_geo.csv', sep = ';')
cells_geo_df.head(10)

   Unnamed: 0    VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0    ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1    ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2    ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3   ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4   ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f
5           5   ASSINIE  In Service  ...  NaN  0b4f56438f  8a1e6ce31f
6           6  KRIKOREA  In Service  ...  NaN  041d2504f5  260dbfedc5
7           7     ABOBO  In Service  ...  NaN  a70c1d263b  56306cc7ca
8           8     ABOBO  In Service  ...  NaN  e2d04ea883  56306cc7ca
9           9     ABOBO         NaN  ...  NaN  ee224cd27e  56306cc7ca

[10 rows x 12 columns]

In [3]:
# Creating a Dataframe from the Telcom_dataset.csv file 
# 
df1 = pd.read_csv('Telcom_dataset.csv', delimiter = ',')
df1.head(10)

  PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0   04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
4   Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5    data      0   07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6   Voice      0   08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7   Voice      0   08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8   Voice      0   08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9     sms      0   08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89

[10 rows x 10 columns]

In [4]:
# Creating a Dataframe from the Telcom_dataset2.csv file 
# 
df2 = pd.read_csv('Telcom_dataset2.csv', delimiter = ',')
df2.head(10)

  PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0   02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0   03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0   04:06.0  ...     19e2e      #NAME?      #NAME?
3   Voice     37   04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25   04:58.0  ...     19e2e      #NAME?      #NAME?
5     sms      0   05:41.0  ...     19e2e  /MMplBlWjh  /MMplBlWjh
6   Voice     41   06:14.0  ...     19e2e      #NAME?      #NAME?
7   Voice     11   06:28.0  ...     19e2e      #NAME?      #NAME?
8     sms      0   06:35.0  ...     OTHER  /0FxP3az1x  /0FxP3az1x
9     sms      0   06:50.0  ...     19e2e  0ecjmwPX21  0ecjmwPX21

[10 rows x 10 columns]

In [5]:
# Creating a Dataframe from the Telcom_dataset3.csv file 
# 
df3 = pd.read_csv('Telcom_dataset3.csv', delimiter = ',')
df3.head(10)

  PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61   01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0   01:31.0  ...     19e2e      #NAME?      #NAME?
2   Voice     10   02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0   03:04.0  ...     19e2e      #NAME?      #NAME?
4   Voice     22   03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
5   Voice     10   03:59.0  ...     19e2e      #NAME?      #NAME?
6     sms      0   06:06.0  ...     19e2e  +R5ccmtyJf  +R5ccmtyJf
7   Voice     10   06:55.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
8     sms     25   07:09.0  ...     19e2e  13O1+JEun3  13O1+JEun3
9     sms      0   07:38.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[10 rows x 10 columns]

# Data Understanding & Data Preparation

In [6]:
# Merging the 3 Telecom datasets;
# 
telecom_df = pd.concat([df1,df2,df3], axis=0, sort=False)
telecom_df.head(10)

  PRODUCT  VALUE DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0   04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0   05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25   05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56   05:42.0  ...     19e2e      #NAME?      #NAME?
4   Voice     14   06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
5    data      0   07:26.0  ...     OTHER  /lrUXVGVcN  /lrUXVGVcN
6   Voice      0   08:02.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
7   Voice      0   08:03.0  ...     19e2e  09UjmmY1Ds  09UjmmY1Ds
8   Voice      0   08:05.0  ...     19e2e  0DeimCpZOc  0DeimCpZOc
9     sms      0   08:43.0  ...     19e2e  01MDiY5F89  01MDiY5F89

[10 rows x 10 columns]

In [7]:
# Dropping the irrelevant columns in the telecom_df DataFrame;
# 
telecom_df.drop(['CELL_ON_SITE', 'COUNTRY_A','COUNTRY_B', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT'], axis=1, inplace=True)
telecom_df.head(10)

  PRODUCT  VALUE DATE_TIME     CELL_ID     SITE_ID
0   Voice      0   04:37.0  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0   05:25.0  /+cKZKIp41  /+cKZKIp41
2     sms     25   05:41.0  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56   05:42.0      #NAME?      #NAME?
4   Voice     14   06:29.0  051KhYDCpv  051KhYDCpv
5    data      0   07:26.0  /lrUXVGVcN  /lrUXVGVcN
6   Voice      0   08:02.0  +38u2u/rfx  +38u2u/rfx
7   Voice      0   08:03.0  09UjmmY1Ds  09UjmmY1Ds
8   Voice      0   08:05.0  0DeimCpZOc  0DeimCpZOc
9     sms      0   08:43.0  01MDiY5F89  01MDiY5F89

In [8]:
# Describing the cells_geo dataset DataFrame;
# 
telecom_df.describe()

              VALUE
count  15003.000000
mean      25.548690
std      152.916219
min        0.000000
25%        0.000000
50%        0.000000
75%       25.000000
max    12900.000000

In [9]:
# Dropping the irrelevant columns in the cells_geo dataset DataFrame;
# 
cells_geo_df.drop(['Unnamed: 0', 'LONGITUDE', 'LATITUDE', 'AREA'], axis=1, inplace=True)
cells_geo_df.head(10)

     VILLES      STATUS LOCALISATION  ...          REGION     CELL_ID   SITE_CODE
0    ADJAME  In Service      ABIDJAN  ...          LAGUNE  fbb2e75af3  0bb492ef17
1    ADJAME  In Service      ABIDJAN  ...          LAGUNE  1502501d78  0bb492ef17
2    ADJAME  In Service      ABIDJAN  ...          LAGUNE  0c2e182a0c  0bb492ef17
3   ASSINIE  In Service    INTERIEUR  ...       SUD COMOE  69bdfc69fd  8a1e6ce31f
4   ASSINIE  In Service    INTERIEUR  ...       SUD COMOE  7a1029d2ab  8a1e6ce31f
5   ASSINIE  In Service    INTERIEUR  ...       SUD COMOE  0b4f56438f  8a1e6ce31f
6  KRIKOREA  In Service    INTERIEUR  ...  HAUT SASSANDRA  041d2504f5  260dbfedc5
7     ABOBO  In Service      ABIDJAN  ...          LAGUNE  a70c1d263b  56306cc7ca
8     ABOBO  In Service      ABIDJAN  ...          LAGUNE  e2d04ea883  56306cc7ca
9     ABOBO         NaN      ABIDJAN  ...          LAGUNE  ee224cd27e  56306cc7ca

[10 rows x 8 columns]

In [10]:
# Describing the cells_geo dataset DataFrame;
# 
cells_geo_df.describe()

        VILLES      STATUS LOCALISATION  ...  REGION     CELL_ID   SITE_CODE
count     3974        3907         3974  ...    3974        3974        3974
unique     504           1            2  ...      19        3916        1029
top     COCODY  In Service    INTERIEUR  ...  LAGUNE  6750e0fb7b  20387d4292
freq       354        3907         2305  ...    1850          39          42

[4 rows x 8 columns]

In [11]:
# Merging all the DataFrames;
# 
df = pd.merge(left=telecom_df, right=cells_geo_df, left_on='SITE_ID', right_on ='SITE_CODE')
# What's the size of the output data?
# 
df.shape
df

      PRODUCT  VALUE DATE_TIME  ...             REGION   CELL_ID_y   SITE_CODE
0         sms      0   00:00.0  ...  VALLEE DU BANDAMA  24ccdda3d5  1b5540c02d
1         sms      0   00:00.0  ...  VALLEE DU BANDAMA  ebfc58af70  1b5540c02d
2         sms      0   00:00.0  ...  VALLEE DU BANDAMA  ba8ce6e4ef  1b5540c02d
3         sms      0   00:00.0  ...  VALLEE DU BANDAMA  c2545171dc  1b5540c02d
4         sms      0   00:00.0  ...  VALLEE DU BANDAMA  f15bd5483f  1b5540c02d
...       ...    ...       ...  ...                ...         ...         ...
51192   Voice     17   01:42.0  ...             LAGUNE  c179f33d5e  cc45940406
51193   Voice     17   01:42.0  ...             LAGUNE  0a3f751619  cc45940406
51194     sms      0   01:43.0  ...  VALLEE DU BANDAMA  0427a26d34  ab91f5b21d
51195     sms      0   01:43.0  ...  VALLEE DU BANDAMA  7c72293cf2  ab91f5b21d
51196     sms      0   01:43.0  ...  VALLEE DU BANDAMA  be18b5b981  ab91f5b21d

[51197 rows x 13 columns]

In [12]:
# Describing the df DataFrame;
# 
df.describe() # Only describes integer values

              VALUE
count  51197.000000
mean      28.074790
std      112.215941
min        0.000000
25%        0.000000
50%        0.000000
75%       25.000000
max     6750.000000

# Modelling

In [13]:
df.groupby(['PRODUCT']).mean()

             VALUE
PRODUCT
Voice    55.493068
sms       8.000643

In [14]:
df.groupby(['VILLES']).mean()

                   VALUE
VILLES
ABENGOUROU     46.822581
ABOBO          20.095914
ABOISSO        18.333333
ABOISSO COMOE  44.166667
ABONGOUA        1.000000
...                  ...
ZATTA           1.000000
ZIKISSO        26.888889
ZON-HOUNIEN    40.333333
ZOUKOUGBEU     59.500000
ZUENOULA       30.523810

[398 rows x 1 columns]

# Evaluation